@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200;400&display=swap');



*{
  font-family: 'Mali', cursive;
  font-weight: 400;


}
form {
    @apply absolute pt-14 pb-14 pl-14 pr-32 text-teal-800  text-xl  ml-4 
     bg-amber-200 rounded-xl border-2 border-fuchsia-100 shadow-md;
      box-shadow: 6px 2px 8px 4px rgba(0, 0, 0, 0.39);
      font-family: 'Mali', cursive;
      
    
    }
.box{
    @apply mt-24 flex justify-center  ;
}

input{
  @apply border-2 border-cyan-200 mb-2 
}
select{
  @apply border-2 border-cyan-200 mb-2

}
#background4{
  background-image: url('https://www.forfur.com/img/I57/l_5671_14640017161305458323.jpg');
}
.button{
  padding: 3px 10px;
  font-size: 100%;
  font-family: 'Prompt', sans-serif;
  color: #f8f8f8;
  text-align: center;
  padding: 2%;
  margin-left: auto;
  font-family: 'Mali', cursive;
  cursor: pointer;
  
}
.butto {
  background-color: #0d6551; 
  border: none;
  color: rgb(251, 251, 251);
  padding: 20px;
  text-align: center;
  /* text-decoration: none; */
  /* display: inline-block; */
  font-size: 16px;
  margin: 4px 2px 20px 20px;
  cursor: pointer;
  border-radius: 12px;

}.adminflexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items:flex-start;
  box-sizing: border-box;
  margin: 15px -8px 10px 0px;
}

.adminitem {
  box-sizing: border-box;
  width: 33.33%;
  margin-bottom: 50px;
  padding: 0px 10px;
}

.admincontent {
  color: #242424;
  background-color: #1bbefe;
  font-weight: 600;
  box-sizing: border-box;
  height: 100%;
  padding: 10%;
}
.button:hover {background-color: #176d40;border-radius: 12px;}
.button:active {
  background-color: #2c7b52;
  box-shadow: 0 5px #ca1313;
  transform: translateY(2px);
  margin-left: auto;
  border-radius: 12px;
}