@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200;400&display=swap');



form {
    @apply absolute pt-14 pb-14 pl-14 pr-32 text-teal-800  text-xl  ml-4 
     bg-amber-200 rounded-xl border-2 border-fuchsia-100 shadow-md;
      box-shadow: 6px 2px 8px 4px rgba(0, 0, 0, 0.39);
      font-family: 'Mali', cursive;
    
    }
.box{
    @apply mt-24 flex justify-center 	;
}
.box1{
  /* width: 66%;  */
  
}
input{
  @apply border-2 border-cyan-200 mb-2 
}
select{
  @apply border-2 border-cyan-200 mb-2

}
.butto {
  background-color: #0d6551; 
  border: none;
  color: rgb(251, 251, 251);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  margin: 4px 2px 20px 20px;
  cursor: pointer;
  border-radius: 12px;
}