@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200;400&display=swap');


.button {
    background-color: #0d6551; /* Green */
    border: none;
    color: rgb(251, 251, 251);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px 20px 20px;
    cursor: pointer;
    border-radius: 12px;

  }
.costom{
    text-align: center;

    /* background-color: black; */
}
    /* margin-right: 100px; */

#background {
    /* background-image: url(../assets/images/back.png);  */
    background-image: url("https://cdn.discordapp.com/attachments/925690469629964352/1044462310170841148/black.jpg");
    }
    
.header {
    /* width: 1920 px;
    height: 600 px; */
    text-align: center;
    /* background-image: url("https://cdn.discordapp.com/attachments/1039195786585579550/1044468314719666246/toppic.jpg"); */
  }
.regular{
    margin-left: 130px;
    margin-right: 130px;
}
.bg-food{
    background-image: url("https://cdn.discordapp.com/attachments/1039195786585579550/1044466921854214184/bg-menu.jpg")
}

h1{
 /* display:block; */
        @apply bg-blue-900 border-4 border-amber-200;
        font-size: 300%;
        color: #FFFFAB;
        text-align: center;
        font-family: 'Mali', cursive;
        margin-left: 35%;
        margin-right: 35%;
        padding: 1%;
        animation: fadeIn 2s; 
    }
.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    box-sizing: border-box;
    margin: 0px -10px;
}

.item {
    box-sizing: border-box;
    width: 25%;
    margin-bottom: 20px;
    padding: 0px 10px;
}

.content {
    color: #242424;
    background-color: #1bbefe;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
}
.profilecolor2{
    @apply bg-contain bg-center block m-2 p-2 max-w-xl relative
     bg-amber-200 border-2 border-fuchsia-100 shadow-md
      hover:bg-amber-400;
    font-family: 'Mali', cursive;
    display: inline-block;
    object-fit: cover;
    width: 250px; 
    height: 250px;
    
}
.boxs{
    @apply m-1 p-1 ;
}
.profile{
    @apply  m-8 p-4 space-x-6 h-full w-full;
    animation: fadeIn 2s;
}
/* menu.picture{
    @apply bg-contain bg-center w-96 h-96 scale-70 rounded-full m-1;
} */